<html>
  <body>
    <h1>Ithemal</h1>
    <p>
      Enter a code sequence below, and Ithemal will predict the throughput of that sequence (the number of cycles to execute it in the body of a loop, assuming that all data is in cache).
      <br/>
      Ithemal only operates on basic blocks, so you cannot include any sort of jump commands.
      Ithemal will also not generate predictions for sequences using exotic instructions that were not in the training set (e.g. instructions like <a href="https://www.felixcloutier.com/x86/aeskeygenassist"><code>aeskeygenassist</code></a> stump Ithemal).
      <br/>
      Please check out our code at: <a href="https://github.com/psg-mit/Ithemal">https://github.com/psg-mit/Ithemal</a>
    </p>
    <form action="predict" method="post">
      <textarea autofocus="true" cols="80" rows="20" required="true" name="code" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
{% if code_text %}
{{ code_text }}
{% else %}
cmp    byte ptr [rsp+0x38], 0x01
sbb    rax, rax
and    eax, 0x00000640
add    rax, 0x00024d00
cmp    byte ptr [rsp+0xa0], 0x01
{% endif %}
</textarea>
      <br/>
      <select name="model">
        <option value="hsw">Haswell</option>
        <option value="skl">Skylake</option>
        <option value="ivb">Ivy Bridge</option>
      </select>
      <input type="submit" value="Predict!"/>
    </form>

    {% if code_html %}
    <h2>Last Run: {{ last_model }}</h2>
    {{ code_html | safe }}
    <br/><br/>
    {% if prediction %}
    <b>Prediction:</b> {{ prediction }} cycles per iteration
    {% else %}
    <b>Could not generate a prediction: </b> {{ error | safe }}
    {% endif %}
    {% endif %}
  </body>
</html>
